In [1]:
import numpy as np


list_data = [1, 2, 3, 4, 5]
numpy_array = np.array(list_data)


print("Type of NumPy Array:", type(numpy_array))


result_multiply = numpy_array * 2
result_divide = numpy_array / 2
result_power = np.power(numpy_array, 2)


text_output = "Addition of Two: " + str(numpy_array) + " + " + str(result_multiply)


result_sin = np.sin(numpy_array)
result_log = np.log(numpy_array)
result_log2 = np.log2(numpy_array)
result_exp = np.exp(numpy_array)


print("Original NumPy Array:", numpy_array)
print("Result of Multiplication:", result_multiply)
print("Result of Division:", result_divide)
print("Result of Power Operation:", result_power)
print("Textual Output:", text_output)
print("Result of np.sin():", result_sin)
print("Result of np.log():", result_log)
print("Result of np.log2():", result_log2)
print("Result of np.exp():", result_exp)

Type of NumPy Array: <class 'numpy.ndarray'>
Original NumPy Array: [1 2 3 4 5]
Result of Multiplication: [ 2  4  6  8 10]
Result of Division: [0.5 1.  1.5 2.  2.5]
Result of Power Operation: [ 1  4  9 16 25]
Textual Output: Addition of Two: [1 2 3 4 5] + [ 2  4  6  8 10]
Result of np.sin(): [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427]
Result of np.log(): [0.         0.69314718 1.09861229 1.38629436 1.60943791]
Result of np.log2(): [0.         1.         1.5849625  2.         2.32192809]
Result of np.exp(): [  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]

In [5]:
import pandas as pd


data = {'Column1': [1, 2, 3, 4, 5], 'Column2': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)


print("Type of Pandas DataFrame:", type(df))



result_multiply_df = df * 2
result_divide_df = df / 2
result_power_df = np.power(df, 2)


print("Original Pandas DataFrame:")
print(df)
print("\nResult of Multiplication (DataFrame):")
print(result_multiply_df)
print("\nResult of Division (DataFrame):")
print(result_divide_df)
print("\nResult of Power Operation (DataFrame):")
print(result_power_df)

Type of Pandas DataFrame: <class 'pandas.core.frame.DataFrame'>
Original Pandas DataFrame:
   Column1  Column2
0        1        6
1        2        7
2        3        8
3        4        9
4        5       10

Result of Multiplication (DataFrame):
   Column1  Column2
0        2       12
1        4       14
2        6       16
3        8       18
4       10       20

Result of Division (DataFrame):
   Column1  Column2
0      0.5      3.0
1      1.0      3.5
2      1.5      4.0
3      2.0      4.5
4      2.5      5.0

Result of Power Operation (DataFrame):
   Column1  Column2
0        1       36
1        4       49
2        9       64
3       16       81
4       25      100